extends layout

block content
  h1= title
  h4 running on container #{hostname}
  h4 database  #{database}
  h4 database port #{port}

  table
    thead
      tr
        th test01
        th test02
    tbody
      tr
        td test101r 
        td test102r
